header {
    width: 96%;
    height: 30px;
    background-color: #121212;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

header a {
    color: #fff;
    font-size: 15px;
    padding: 8px;
    background-color: rgb(66, 116, 182);
    text-decoration: none;
    border-radius: 20px;
    margin: 4px;
}

h2 {
    color: white;
}